extends layout

block content
   each individualProject in project
      div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
         div.container
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            a.navbar-brand(href="/profile")
               | SCRUM App
            div.nav.navbar-nav.navbar-right 
               li
                 a(href='/sprintcreator?id='+individualProject.projectid)="Add Sprint"
               li
                  a(href="/profile")= "Back"      
         div.collapse.navbar-collapse
      div(align='center', ng-app='ng-app', class='jumbotron')
            h2 #{individualProject.projectname}
            div(align='left', class='sprints' id='sprints')
               each sprint in sprints
                  div(align='center')
                     table
                        thead
                           tr
                              th Sprint
                              th Start date
                              th End date
                        tbody
                           tr
                              td #{sprint.sprintname}
                              td #{sprint.sprintstartdate}
                              td #{sprint.sprintenddate}
         
