extends layout

link(rel='stylesheet', href='/stylesheets/style.css')

block content
   each individualProject in project
      div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
         div.container
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            a.navbar-brand(href="/profile")
               | SCRUM App
            div.nav.navbar-nav.navbar-right 
               li
                     a(href='/sprintcreator?id='+individualProject.projectid)="Add Sprint"
               li
                  a(href="/profile")= "Back"      
         div.collapse.navbar-collapse
      
      div(align='center', ng-app='ng-app')
            h2 #{individualProject.projectname}
            div(align='left', class='sprints' id='sprints')
               each sprint in sprints
                  div.row(align='center', class='jumbotron')
                     // Header table
                     table
                        thead
                           tr
                              th.col-md-4(align='left') #{sprint.sprintname}  
                              th.col-md-6
                              th.col-md-1(align='right') Start date
                              th.col-md-1(align='right') End date
                              
                        tbody
                           tr
                              td 
                              td
                              td #{sprint.sprintstartdate}
                              td #{sprint.sprintenddate}
                     // End of Header table
                     table
                        thead
                           tr
                              th.col-md-12
                                 a.btn.btn-info(href='/taskcreator?id='+sprint.sprintid+'&pid='+individualProject.projectid, role='button') 
                                    span.glyphicon.glyphicon-plus(aria-hidden='true')
                                    |  Add task
                              th.col-md-12
                              
                        tbody
                           tr
                              td 
                              td
                     each task in tasks
                        h4 #{task.taskname}
                              
                  div.row.col-md-12
                     br 
                     br 
                     br 
                              
         
